

.category-banner {
    z-index: 1;
    position: sticky;
    top: 0%;
    height: 15vh;
    display: flex;
    align-items: center;
    background: rgb(44, 54, 57);
    margin: 0;
    padding: 0;
    box-shadow: -1px 5px 7px 0px #000000;
}

.category-button {
    height: 40%;
    width: 9%;
    background: rgb(162, 123, 92);
    margin: 0.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0px 10px 13px -7px #000000;
    cursor: pointer;
}

.category-button.all-product {
    height: 48%;
    width: 11%;
    font-weight: bold;
}

.category-button:hover {
    background: rgb(183, 133, 92);
}

.category-button:active {
    box-shadow: 
    0px 10px 15px -5px #000000,
    inset -4px -4px 6px -4px #0000009a,
    inset 4px 4px 6px -4px #0000009a;
}

/* .category-banner span {
    font-size: 60px;
    text-align: center;
    color: rgb(63, 78, 79);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */


.main-cart-shadow {
    position: absolute;
    right: 2%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    box-shadow: 
    inset 0px 0px 50px 100px rgb(63, 78, 79),
    0px 10px 13px -7px #000000;

    cursor: pointer;
}

.main-cart-shadow:hover {
    box-shadow: 
    inset 0px 0px 50px 100px rgb(75, 95, 97),
    0px 10px 13px -7px #000000;
}

.main-cart {
    width: 40px;
    height: 40px;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.cart-item-count {
    position: absolute;
    width: 23px;
    height: 23px;

    border-radius: 50%;
    
    right: -10%;
    top: 5%;

    background: rgb(162, 123, 92);
    box-shadow: -3px 2px 5px -2px #000000;

    font-family: 'Oswald', sans-serif;
    color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;
}